/* Start global rules  */
:root {
    --main-Color: #2196f3;
    --main-Color-alt: #1787e0;
    --paragraphs-Color: #777;
    --background-links-color: #fafafa;
    --main-transition: .3s;
    --section-padding: 100px;
    --section-Color: #ececec;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* --------------------------------------------- maine title */
/* start the maine title  */
.head {
    text-align: center;
    border: 2px solid;
    width: fit-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.head::before,
.head::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--main-Color);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;

}

.head::before {
    left: -30px;
}

.head::after {
    right: -30px;
}

.head:hover::before {
    animation: left-move 0.5s linear forwards;
    -webkit-animation: left-move .5s linear forwards;
}

.head:hover::after {
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
}

.head:hover {
    color: white;
    border: 2px solid white;
    transition-delay: .5s;
}

/* end the main title  */
/* -------------------------------------------------- */
.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 5;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
/* ------------------------------------------------------- */
.dots {
    background-image: url(../imgs/dots.png);
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}
.dots-up {
    top: 200px;
    right: 0;
}
.dots-down {
    bottom: 200px;
    left: 0;
}
/* End global rules  */

/* start header */
header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .logo {
    color: var(--main-Color);
    font-size: 26px;
    font-weight: 800;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    header .logo {
        flex-basis: 100%;
        font-size: 24px;
        height: 50px;
    }
}

header .main-nav {
    display: flex;
}

/* ------------------------------------- */
header .main-nav>li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 2px);
}

/* -------------------------- */
header .main-nav>li>a {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 72px;
    padding: 0 30px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

header .main-nav>li>a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--main-Color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

header .main-nav>li>a:hover {
    color: var(--main-Color);
    background-color: var(--background-links-color);
}

header .main-nav>li>a:hover::before {
    left: 0;
}

@media (max-width:767px) {
    header .main-nav>li>a {
        font-size: 15px;
        padding: 10px;
        height: 40px;
    }

    header .main-nav {
        margin: auto;
    }
}

/* --------------------------------------------------------- */
header .mega-menu {
    position: absolute;
    width: 100%;
    padding: 30px;
    background-color: white;
    gap: 40px;
    top: calc(100% + 80px);
    left: 0;
    z-index: -1;
    opacity: 0;
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--main-Color);
    transition: top var(--main-transition), opacity var(--main-transition);
    -webkit-transition: top var(--main-transition), opacity var(--main-transition);
    -moz-transition: top var(--main-transition), opacity var(--main-transition);
    -ms-transition: top var(--main-transition), opacity var(--main-transition);
    -o-transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width:767px) {
    header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }

    header .mega-menu .links:first-of-type li:last-of-type {
        border-bottom: 1px solid #ddd;
    }
}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width:991px) {
    header .mega-menu .image {
        display: none;
    }

    header .mega-menu {
        justify-content: space-around;
    }
}

header .mega-menu .links {
    min-width: 250px;
}

header .mega-menu li {
    position: relative;
    overflow: hidden;
}

header .mega-menu li:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}

header .mega-menu li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #eee;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

header .mega-menu li:hover::before {
    width: 100%;
}

header .mega-menu a {
    display: block;
    padding: 20px;
    color: var(--main-Color);
    font-size: 17px;
    font-weight: 800;
}

header .mega-menu a i {
    margin-right: 10px;
}

/* End header */
/* start landing */
.landing {
    background-color: #eee;
    position: relative;
    overflow: hidden;
}

.landing::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 300px;
    background-color: white;
    left: 0;
    bottom: -200px;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

.landing .container {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}

@media (max-width:991px) {
    .landing .container {
        flex-direction: column;
    }

    .landing .container .image {
        order: -1;
        width: 85%;
        margin-top: 70px;
    }

    .landing .container .image img {
        width: 300px;
    }
}

.landing .container .text {
    flex: 1;
}

.landing .container .text h2 {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

.landing .container .text p {
    font-size: 23px;
    line-height: 1.8;
    color: var(--paragraphs-Color);
    max-width: 500px;
}

@media (max-width:991px) {
    .landing .container .text {
        width: 85%;
        margin-top: 110px;
        text-align: center;
    }

    .landing .container .text p {
        margin: auto;
    }
}

@media (max-width:767px) {
    .landing .container .text {
        width: 85%;
        margin-top: 80px;
        text-align: center;
    }

    .landing .container .text h2 {
        font-size: 30px;
    }

    .landing .container .text p {
        font-size: 18px;
    }
}


.landing .container .image img {
    width: 600px;
    max-width: 100%;
    position: relative;
    animation: up-down .5s linear infinite;
    -webkit-animation: up-down 5s linear infinite;
}

.landing a i {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-Color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    animation: bouncing 1.5s infinite;
    -webkit-animation: bouncing 1.5s infinite;
}

.landing a:hover {
    color: var(--main-Color-alt);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

/* End landing */



/* Start articles section */
.articles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

/* ------------------------------------------ */
.articles .container .cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.articles .container .cont article {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: transform var(--main-transition);
    -webkit-transition: transform var(--main-transition);
    -moz-transition: transform var(--main-transition);
    -ms-transition: transform var(--main-transition);
    -o-transition: transform var(--main-transition);
}

.articles .container .cont article:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.articles .container .cont article img {
    max-width: 100%;
}

.articles .container .cont article .text {
    padding: 20px;
    border-bottom: 1px solid var(--paragraphs-Color);
}

.articles .container .cont article .text h4 {
    font-size: 18px;
    font-weight: 800;
    margin: 0;
}

.articles .container .cont article .text p {
    margin: 10px 0 0;
    color: var(--paragraphs-Color);
    line-height: 1.7;
}

.articles .container .cont article a {
    display: block;
    text-decoration: none;
    color: var(--main-Color);
    font-size: 17px;
    font-weight: 800;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .container .cont article:hover a i {
    animation: moving-arrow;
    -webkit-animation: moving-arrow 0.6s linear infinite;
}

/* End articles section */

/* Start gallery section style */
.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-Color);
    position: relative;
    z-index: 1;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .container article {
    border: 15px solid white;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 13%), 0 2px 4px 0 rgba(0, 0, 0, 12%);
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.gallery .container article::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    opacity: 0;
    background: rgba(255, 255, 255, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 1;
}

.gallery .container article:hover::before {
    animation: flashing .7s;
    -webkit-animation: flashing .7s;
}

.gallery .container article img {
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.gallery .container article:hover img {
    transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
}

/* End gallery section style */

/* start features section style  */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container article {
    border: 1px solid #ccc;
    overflow: hidden;
}

.features .container article .image {
    position: relative;
}

.features .container article .image::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.features .container article:nth-of-type(1) .image::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .container article:nth-of-type(2) .image::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .container article:nth-of-type(3) .image::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .container article .image::after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    bottom: 0;
    left: 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.features .container article:hover .image::after {
    border-width: 170px 500px 170px 0px;
}

.features .container article .image img {
    max-width: 100%;
}

.features .container article .text {
    padding: 30px 20px;
    text-align: center;
}

.features .container article .text h4 {
    width: fit-content;
    font-size: 40px;
    font-weight: 800;
    margin: auto;
    position: relative;
}

.features .container article .text h4::after {
    position: absolute;
    content: "";
    width: 75%;
    height: 5px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.features .container article:nth-of-type(1) .text h4::after {
    background-color: #f44036;
}

.features .container article:nth-of-type(2) .text h4::after {
    background-color: #009688;
}

.features .container article:nth-of-type(3) .text h4::after {
    background-color: #03a9f4;
}

.features .container article .text p {
    line-height: 2;
    font-size: 20px;
    margin: 50px 0 20px;
    color: var(--paragraphs-Color);
}

.features .container article a {
    display: block;
    font-size: 22px;
    font-weight: 800;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 30px;
    border: 4px solid;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    position: relative;
    overflow: hidden;
}

.features .container article:nth-of-type(1) a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .container article:nth-of-type(2) a {
    border-color: #009688;
    color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .container article:nth-of-type(3) a {
    border-color: #03a9f4;
    color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .container article:hover a {
    background-position: left bottom;
    color: white;
}

/* End features section style  */

/* start testimonials section style  */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-Color);
    position: relative;
    z-index: 1;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px 40px;
}

.testimonials .container article {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: relative;
}

.testimonials .container article img {
    width: 100px;
    height: 100px;
    border: 10px solid var(--section-Color);
    position: absolute;
    right: -10px;
    top: -50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.testimonials .container article h4 {
    font-size: 20px;
}

.testimonials .container article p:first-of-type {
    margin: 10px 0;
    color: var(--paragraphs-Color);
}

.testimonials .container article .rate .filled {
    color: #ffc107;
}

.testimonials .container article p:last-of-type {
    margin-top: 10px;
    line-height: 1.5;
    color: var(--paragraphs-Color);
}

/* End testimonials section style  */

/* start section team-members style  */
.team-members {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.team-members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 100px 50px;
    margin-top: 150px;
}

.team-members .container article {
    position: relative;

}

.team-members .container article::before,
.team-members .container article::after {
    position: absolute;
    content: "";
    height: 100%;
    background-color: #f3f3f3;
    top: 0;
    right: 0px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.team-members .container article::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team-members .container article::after {
    z-index: -1;
    width: 0;
    background-color: #e4e4e4;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.team-members .container article:hover::after {
    width: calc(100% - 60px);
}

.team-members .container article .row {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team-members .container article .row img {
    width: calc(100% - 60px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.team-members .container article:hover img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.team-members .container article .row .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team-members .container article .row .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.team-members .container article .row .social a:hover i {
    color: var(--main-Color);
}

.team-members .container article .row .social i {
    color: var(--paragraphs-Color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.team-members .container article .info {
    padding-left: 80px;
    margin: 20px 0;
}

.team-members .container article .info h3 {
    font-size: 22px;
    color: var(--main-Color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.team-members .container article:hover h3 {
    color: var(--paragraphs-Color);
}

.team-members .container article .info p {
    margin-top: 10px;
}

@media (max-width:767px) {
    .team-members .container article::before {
        width: 100%;
    }

    .team-members .container article .row {
        flex-direction: column;
    }

    .team-members .container article .row img {
        width: 90%;
    }

    .team-members .container article .row .social {
        margin-top: 15px;
        justify-content: center;
    }

    .team-members .container article .row .social {
        flex-direction: row;
    }

    .team-members .container article:hover::after {
        width: 100%;
    }

    .team-members .container article .info {
        padding: 0;
        text-align: center;
    }
}

/* End section team-members style  */

/* start services section style  */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-Color);
    position: relative;
    z-index: 1;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.services .container article {
    background-color: white;
    text-align: center;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
    counter-increment: cunt;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.services .container article::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    top: 0;
    left: 50%;
    background-color: var(--main-Color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.services .container article:hover::before {
    width: 100%;
}

.services .container article:hover {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}

.services .container article i {
    margin: 30px 0;
    color: #888;
}

.services .container article h2 {
    font-size: 25px;
    margin-bottom: 30px;
    color: var(--main-Color);
}

.services .container article a {
    display: block;
    padding: 15px;
    text-align: end;
    background-color: rgb(250, 248, 248);
    color: var(--main-Color);
    position: relative;
    overflow: hidden;
}

.services .container article a::before {
    position: absolute;
    content: "0" counter(cunt);
    width: 100px;
    height: 100%;
    background-color: var(--main-Color);
    color: white;
    font-size: 30px;
    font-weight: 700;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .container article a::after {
    position: absolute;
    content: "";
    width: 50px;
    height: calc(100% + 6px);
    background-color: #ccc;
    z-index: 5;
    bottom: -2px;
    left: 80px;
    transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
}

/* End services section style  */

/* start our skills section style  */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
}

@media (max-width:991px) {
    .our-skills .container article.image {
        text-align: center;
        max-width: 100%;
    }

}

@media (max-width:767px) {
    .our-skills .container article.cont {
        min-width: 400px;
        margin: auto;
    }
}

.our-skills .container article.image img {
    max-width: 100%;
}

.our-skills .container article.cont {
    padding: 0 20px;
}

.our-skills .container article.cont .progress-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .container article.cont .progress-bar .info span:last-child {
    border: 1px solid var(--main-Color);
    color: var(--main-Color);
    font-size: 11px;
    font-weight: 800;
    padding: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.our-skills .container article.cont .progress-bar .bar {
    width: 100%;
    height: 25px;
    background-color: #ddd;
    margin: 15px 0;
}

.our-skills .container article.cont .progress-bar .bar span {
    display: block;
    background-color: var(--main-Color);
    height: 100%;
}

/* End our skills section style  */

/* start how it works section */
.how-it-works {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-Color);
    position: relative;
    z-index: 1;
}

.how-it-works .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    justify-content: center;
}

.how-it-works .container .image img {
    max-width: 100%;
}

@media (max-width:991px) {
    .how-it-works .container .image {
        margin: auto;
        max-width: 100%;
    }
}

.how-it-works .container article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.how-it-works .container article .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    border: 2px solid white;
    padding: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.how-it-works .container article .box::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background-color: rgba(238, 238, 238, 0.818);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    z-index: -1;
}

.how-it-works .container article .box:hover::before {
    width: 200%;
    height: 200%;
}

@media (max-width:767px) {
    .how-it-works .container .image {
        margin: auto;
        width: 90%;
    }

    .how-it-works .container article .box {
        flex-direction: column;
        text-align: center;
    }

    .how-it-works .container article .box img {
        margin-bottom: 10px;
    }
}

.how-it-works .container article .box img {
    width: 64px;
    margin-right: 20px;
}

.how-it-works .container article .box .text h3 {
    margin: 0;
}

.how-it-works .container article .box .text p {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 18px;
    color: var(--paragraphs-Color);
}

/* End how it works section */
/* start last events section style  */
.last-events {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.last-events .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    justify-content: center;
}

.last-events .container img {
    max-width: 90%;
    margin: auto;
}

.last-events .container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last-events .container article .time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

.last-events .container article .time div.unit {
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.last-events .container article .time div.unit span {
    display: block;
}

.last-events .container article .time div.unit span:first-child {
    font-size: 35px;
    color: var(--main-Color);
    padding: 15px;
    font-weight: bold;
}

.last-events .container article .time div.unit span:last-child {
    padding: 8px 10px;
    font-size: 11px;
    border-top: 1px solid #d4d4d4;
    width: 100%;
    text-align: center;
}

.last-events .container article h3 {
    font-size: 25px;
    margin: 40px 0 0 0;
}

.last-events .container article p {
    font-size: 19px;
    text-align: center;
    line-height: 1.8;
    margin: 20px 0;
    color: var(--paragraphs-Color);
}

.last-events form {
    width: fit-content;
    margin: 40px auto;
    padding: 25px 40px;
    background-color: #eee;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

@media (max-width:767px) {
    .last-events form {
        margin: auto;
        max-width: 400px;
    }
}

.last-events form input {
    background-color: white;
    padding-left: 20px;
    width: 350px;
    height: 40px;
    border: none;
    caret-color: var(--main-Color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.last-events form input:focus {
    outline: none;
}

.last-events form input::placeholder {
    color: var(--paragraphs-Color);
    transition: opacity var(--main-transition);
    -webkit-transition: opacity var(--main-transition);
    -moz-transition: opacity var(--main-transition);
    -ms-transition: opacity var(--main-transition);
    -o-transition: opacity var(--main-transition);
}

.last-events form input:focus::placeholder {
    opacity: 0;
}

.last-events form a {
    display: block;
    margin-left: 40px;
    background-color: var(--main-Color);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: relative;

}

.last-events form a:hover {
    background-color: var(--main-Color-alt);

}

/* End last events section style  */
/* start pricing section */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-Color);
    position: relative;
    z-index: 1;
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    justify-content: center;
}

.pricing .container article {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
    padding: 15px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.pricing .container article::before,
.pricing .container article::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 50%;
    background-color: rgba(119, 119, 119, 0.088);
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.pricing .container article::before {
    left: 0;
    top: 0;
}

.pricing .container article::after {
    right: 0;
    bottom: 0;
}

.pricing .container article:hover::before,
.pricing .container article:hover::after {
    width: 100%;
}

.pricing .container article:nth-of-type(2) {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    position: relative;
}

@media (max-width:991px) {
    .pricing .container article:nth-of-type(2) {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.pricing .container article:nth-of-type(2) span.title {
    position: absolute;
    font-size: 18px;
    display: block;
    width: 140px;
    height: 30px;
    top: 55px;
    right: -20px;
    background-color: var(--main-Color);
    color: white;
    padding: 5px 10px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.pricing .container article:nth-of-type(2) span.title::before {
    position: absolute;
    content: "";
    border: 16px solid;
    border-color: transparent white transparent transparent;
    top: 0;
    right: -1px;
}

.pricing .container article h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.pricing .container article img {
    width: 70px;
    margin: 30px 0 20px;
}

.pricing .container article span {
    display: block;
}

.pricing .container article span.price {
    color: var(--main-Color);
    font-size: 50px;
    font-weight: bold;
}

.pricing .container article span.Month {
    margin-bottom: 15px;
    color: var(--paragraphs-Color);
}

.pricing .container article ul {
    margin: 0;
    text-align: left;
}

.pricing .container article ul li {
    padding: 15px 10px;
    border-top: 1px solid #ccc;
    position: relative;
}

.pricing .container article ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-Color);
}

.pricing .container article a {
    display: block;
    width: fit-content;
    font-weight: bold;
    margin: 30px auto 40px;
    padding: 15px 20px;
    color: var(--main-Color);
    border: 2px solid var(--main-Color);
    transition: var(--main-transition);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.pricing .container article a:hover {
    background-color: var(--main-Color-alt);
    border-color: var(--main-Color-alt);
    color: white;
}

/* End pricing section */
/* start top-video section */
.top-videos {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.top-videos .holder {
    background-color: var(--section-Color);
    border: 1px solid #ddd;
    display: flex;
}

@media (max-width: 991px) {
    .top-videos .holder {
        flex-direction: column;
    }
}

.top-videos .holder .col {
    min-width: 300px;
    background-color: white;
}

.top-videos .holder .col .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    background-color: #f4f4f4;
}

.top-videos .holder .col ul {
    margin: 0;
    padding: 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.top-videos .holder .col ul li {
    padding: 20px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.top-videos .holder .col ul li:hover {
    color: var(--main-Color);
    background-color: #fafafa;
}

.top-videos .holder .col ul li span {
    display: block;
    margin-top: 10px;
    color: var(--paragraphs-Color);
}

.top-videos .holder article {
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-videos .holder article img {
    max-width: 100%;
}

.top-videos .holder article div {
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}
/* End top-video section */

/* start stats section  */
.status {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/stats.jpg);
    position: relative;
    z-index: 1;
}
.status::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0;
    left: 0;
    z-index: -1;
}
.status  h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.status .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status .container .box {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(95% / 4);
    position: relative;
}
.status .container .box::before,
.status .container .box::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 0;
    background-color: var(--main-Color);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.status .container .box::before {
    left: 0;
    bottom: 0;
}
.status .container .box::after {
    right:  0;
    top: 0;
}
.status .container .box:hover::before,
.status .container .box:hover::after {
    height: 100%;
}
.status .container .box span {
    display: block;
}
.status .container .box .number {
    font-size: 45px;
    font-weight: bold;
    margin: 10px 0;
}
.status .container .box .text {
    color: var(--main-Color);
    font-style: italic;
    font-weight: bold;
}
@media (max-width:767px) {
    .status .container {
        flex-direction: column;
    }
    .status .container .box {
        margin-top: 20px;
        width: 60%;
    }
}
/* End status section  */
/* start discount section  */
.discount {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
.discount .image {
    flex-basis: 50%;
    text-align: center;
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    animation: chang-background 2s linear;
    -webkit-animation: chang-background 5s linear infinite;
}
.discount .image::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    top: 0;
    left: 0;
    z-index: -1;
}
.discount .image img {
    width: 300px;
    max-width: 100%;
} 
.discount .image .text {
    max-width: 500px;
    color: white;
} 
.discount .image .text h3 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: bold;
} 
.discount .image .text p{
    margin: 20px 0;
    line-height: 1.6;
    font-size: 14px;
}
.discount .form {
    margin: auto;
    padding: 40px 0;
}
.discount .form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.discount .form form h3 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 35px 0;
}
.discount .form form input,
.discount .form form textarea {
    border: none;
    background-color: #eee;
    margin-bottom: 25px;
    padding: 15px;
    width: 100%;
    caret-color: var(--main-Color);
    border-bottom: 1px solid #ccc;
}
.discount .form form input::placeholder,
.discount .form form textarea::placeholder {
    font-size: 13px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.discount .form form input:focus,
.discount .form form textarea {
    outline: none;
}
.discount .form form input:focus::placeholder,
.discount .form form textarea:focus::placeholder {
    opacity: 0;
}
.discount .form form textarea{
    height: 200px;
    resize: none;
    border: none;
}
.discount .form form a {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-Color);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}
.discount .form form a:hover {
    background-color: var(--main-Color-alt);
}
@media (max-width:767px){
    .discount {
        flex-direction: column;
    }
    .discount .image {
        width: 100%;
    }
}
/* End discount section  */
/* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

.footer .box .social {
    display: flex;
}

@media (max-width: 767px) {
    .footer .box .social {
        justify-content: center;
    }
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.footer .box .social .facebook:hover {
    background-color: #1877f2;
}

.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
    background-color: #ff0000;
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}

.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li:hover a {
    color: white;
}

.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-Color);
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
}

.footer .box .line i {
    font-size: 25px;
    color: var(--main-Color);
    margin-right: 10px;
}

@media (max-width: 767px) {
    .footer .box .line i {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .box .line .info span {
    display: block;
}

.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
  /* End Footer */

/* start animation */
@keyframes up-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 15px;
        height: 15px;
    }

    100% {
        left: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        width: 60%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 15px;
        height: 15px;
    }

    100% {
        right: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        width: 60%;
        height: 100%;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes chang-background {
    0%, 100% {
        background-image: url(../imgs/discount-background1.jpg);
    }
    50% {
        background-image: url(../imgs/discount-background2.jpg);
    }
}
/* end animation */